body {
    background-color: black;
}
html {
    font-size: 16px;
}
#wrapper {
    margin: 0 auto;
    max-width: 1200px;
}


@media (min-width:1201px) {
    #wrapper {
        min-width: 1400px;
    }
    #menu {
        font-size: 1.5rem;
        }
    h1 {
            font-size: 4rem;
        }
    h2 {
            font-size: 2rem;
        }
    p {
            font-size: 1rem;
        }
    #navigation #logo svg {
            width: 70px;
            height: 80px;
        }
    #homepage .headshot img {
            height: 500px;
            width: 500px;
            margin-left: 25px;
        }
        .progressbar {
             width: 160px;
        }
        #education .card p {
            margin: 15px;
            text-align: center;
        }
        #education .card  {
            margin: 25px;
        }
        #contacts .container {
             justify-content: space-between;
        }
        
}

@media (max-width:1200px){
    #wrapper {
        max-width: 970px;
    }
    #menu {
    font-size: 1.5rem;
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
    #navigation #logo svg {
        width: 70px;
        height: 80px;
    }
    #homepage .headshot img {
        height: 500px;
        width: 500px;
        margin-left: 25px;
    }
    .progressbar {
        width: 80px;
   }
   .hard {
    width: 25%;
   }
   .soft {
    width: 29%;
   }
   .language {
    width: 25%;
   }
   #education .card {
    margin: 15px 15px;
    text-align: center;
   }
   #contacts .container {
    flex-wrap: wrap;
    justify-content: space-around;
   }
}

@media (max-width:992px){
    #wrapper {
        max-width: 750px;
    }
    #menu {
        font-size: 1rem;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.5rem;
    }
     p {
            font-size: 0.8rem;
    }
    #navigation #logo svg {
        width: 40px;
        height: 50px;
    }
    #homepage .headshot img {
        height: 400px;
        width: 400px;
        margin-left: 25px;
    }
}

@media (max-width:767px){
    #wrapper {
        max-width: none;
        margin: 0 15px;
    }
    #navigation {
        justify-content: space-evenly;
    }
    #homepage {
        flex-direction: column;
    }
    h1, p {
        text-align: center;
    }
    #homepage .headshot img {
        width: 350px;
        height: 350px;
    }
    #skills .container {
        flex-direction: column;
        
    }
    .hard, .soft, .language {
        margin: 15px  auto;
        width: 60%;
     }
     .progressbar {
        width: 160px;
     }
     #education .container {
        flex-direction: column;
     }
}


header {
    margin-top: 15px;
}
#navigation {
    display: flex;
}
#navigation #logo {
    margin-left: 25px;
    text-align: left;
}
svg defs stop{
    transition: .4s;
  }
svg:hover defs stop{
    stop-color: #b6fff1;
  }
svg defs feDropShadow {
    transition: .4s;
    flood-color: transparent;
  }
svg:hover feDropShadow{
    flood-color: #06deb5;
  }
#menu {
    margin-left: auto;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#menu a:hover {
    border: 2px double #00ddad;
    box-shadow: 0 0 15px #00ddad;
    padding: 5px;
    border-bottom-left-radius: 0.9rem;
    border-top-right-radius: 0.9rem;
}
a {
    text-decoration: none;
    color: #00ddad
}
#menu ul li {
    display: inline;
    margin-right: 20px;
}
#homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 250px;
    padding-bottom: 150px;
}
#homepage .banner a {
    text-decoration: none;
}
.hotlinks {
    block-size: fit-content;
    margin-top: 25px;
    text-align: center;
}
.hotlinks a {
    display: inline-block;
}
.hotlinks a:hover {
    border-top: 1px solid #00ddad;
    box-shadow: 0 0 12px #00ddad;
    border-radius: 50%;
    
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #00ddad;
}
h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #00ddad;
    text-align: center;
    letter-spacing: 2px;
}
p {
    font-family: 'Montserrat', sans-serif;
    line-height: 2rem;
    color: #cdfcd7;
}
#about {
    padding: 20px 25px;
}
.interests {
    color: #00ddad;
    text-align: center;
}
.interests img {
    margin:   0 25px 0 0;
}
#about h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
}
#about article {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 26px;
}
#about article p {
    margin-top: 40px;
    letter-spacing: 3px;
}
#about article p a:hover {
    border: 2px double #00ddad;
    box-shadow: 0 0 15px #00ddad;
    padding: 0 5px;
    border-radius: 7px;
}
#skills h1, #education h1, #portfolio h1, #contacts h1 {
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-evenly;
}
.hard, .soft, .language, .card {
    background-color: rgba(128, 128, 128, 0.295);
    padding: 15px 20px;
    border-bottom-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
} 
#education .educationDate {
    padding: 5px 0;
    border-bottom-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    background-color: #cdfcd7;
    box-shadow: 0 0 7px #cdfcd7;
    width: 120px;
    text-align: center;
    font-weight: bolder;
}
#portfolio .container {
    flex-direction: column;
    margin: 15px;
}
#portfolio .project {
    background-color: rgba(128, 128, 128, 0.295);
    margin-bottom: 70px;
    border-bottom-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    padding: 5px 5px 15px 25px;
}
#portfolio .project h2 {
    text-align: left;
    margin-left: -10px;
}
#portfolio .project p {
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-align: left;
}
#portfolio .project a:hover {
    text-decoration: none;
    border-bottom: 1px solid #00ddad;
    box-shadow: 0 0 7px #00ddad;
    padding: 0 5px;
    border-radius: 7px;
}
#skills .skillProgress {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#contacts h1 {
    margin-top: 7rem;
}
#contacts .container {
    margin-top: 200px;
    display: flex;
    margin-right: 25px;
}
#contacts .container div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#contacts .container div:nth-child(2n):hover {
    block-size: fit-content;
    box-shadow: 0px 2px 15px #00ddad;
    border-radius: 15px;
}
#contacts .container h2 {
    margin-left: 25px;
}
.progressbar {
    block-size: fit-content;
    margin-left: 20px;
    display: flex;
    flex-direction: column-reverse;
}
.progress-text {
    font-size: 12px;
}